.controls {
  display: flex;
  align-items: flex-end;
  justify-content: space-around;
  width: 300px;
  padding: 10px;
  background-color: lightgreen;
  border-radius: 20px;
}

.sequencerControls {
  display: flex;
  /* flex-direction: column; */
  flex-wrap: wrap;
  justify-content: center;

  gap: 10px;
}

.sequencerControls button {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 50px;
  width: 50px;
  border-radius: 100%;
  border: solid 2px #007700;
}

.sequencerControls button:hover {
  cursor: pointer;
  box-shadow: 0 2px 5px #002c2e;

  -webkit-transform: scale(1.15, 1.15);
  transform: scale(1.15, 1.15);
}
