.keyboard {
  display: flex;
  align-items: top;
  justify-content: space-around;
  width: 600px;
  height: 250px;
  background-color: #f4a460;
  padding: 10px;
  gap: 3px;
  border-radius: 20px;
}

.key {
  width: 40px;
  height: 240px;
  background-color: #f8ead7;
  border: solid #c55f00 1px;
  outline: none;
  border-radius: 5px;
}

.sharpKey {
  width: 40px;
  height: 140px;
  background-color: #708090;
  border: solid #c55f00 1px;
  border-radius: 5px;
  outline: none;
}

.octaveUp,
.octaveDown {
  width: 44px;
  height: 25px;
  background-color: #708090;
  border: solid rgb(71, 71, 71) 1px;
  border-radius: 10px;
}

.octaves {
  display: flex;
  flex-direction: column;
  height: 250px;
  align-items: center;
  justify-content: space-around;
  outline: none;
}

.key:hover,
.sharpKey:hover,
.octaveUp:hover,
.octaveDown:hover {
  cursor: pointer;
  box-shadow: 0 2px 5px #5c3700;
  -webkit-transform: scale(0.95, 0.95);
  transform: scale(0.95, 0.95);
}

.active {
  background-color: #ffbd07;
  box-shadow: 0 2px 5px #5c3700;
  -webkit-transform: scale(0.95, 0.95);
  transform: scale(0.95, 0.95);
}
